<div id="block-user-menu" class="block pull-right">
  <div class="content">
      <div class="item-list">
        <ul class="nav">
          <% if user_signed_in? %>
            <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
          <% else %>
            <li class="first"><%= link_to('Sign in', new_user_session_path)  %></li>
          <li class="last"><%= link_to('Sign up', new_user_registration_path)  %></li>
        <% end %>

      </ul>
    </div>
  </div>
</div>
